<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> 당신의 최애 인테리어 스타일은? </title>


    <script> </script>
</head>


<body>

    <h1> 가장 마음에 드는 디자인을 골라주세요! </h1>
        <a href="vote2" >
            <img src="{{ url_for('static', filename='image/classic/1.png') }}" width="200" height="150">
        </a>

        <a href="vote2" >
            <img src="{{ url_for('static', filename='image/luxury/1.jpg') }}" width="200" height="150">
        </a>

    <br>

        <a href="vote2" >
        <img src="{{ url_for('static', filename='image/modern/1.jpeg') }}" width="200" height="150">
        </a>

        <a href="vote2" >
        <img src="{{ url_for('static', filename='image/natural/1.jpg') }}" width="200" height="150">
        </a>

    <br>
        <a href="vote2" >
        <img src="{{ url_for('static', filename='image/scandinavian/1.jpg') }}" width="200" height="150">
        </a>

</body>
</html>